.containers {
    width: 200px;
    height:  600px;
    position: fixed;
    top: 20%;
    left: 0;
    right:0;
    margin: auto;
}

.scanText{
    width: 130px;
    height:  auto;
    position: fixed;
    left: 0;
    right:0;
    margin: auto;
}

.scanBtn{
    width: 85px;
    height:  auto;
    position: fixed;
    left: 0;
    right:0;
    margin: auto;
}

.containers1 {
    width: 400px;
    height:  500px;
    position: fixed;
    top: 5%;
    left: 20px;
    right:20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ibox-content{
    width: 400px;
    height:  600px;
    position: fixed;
    top: 10%;
    left: 0;
    right:0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.introduction{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}



body.scan{
    background:url(../img/bg400x860.jpg) no-repeat center fixed;
}



