<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('IntegralRecord列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>积分变动数量：</label>
                                <input type="text" name="changeNumber"/>
                            </li>
                            <li>
                                <label>当前积分：</label>
                                <input type="text" name="curreryIntegral"/>
                            </li>
                            <li>
                                <label>产品名称：</label>
                                <input type="text" name="productName"/>
                            </li>
                            <li>
                                <label>产品编码：</label>
                                <input type="text" name="productCode"/>
                            </li>
                            <li>
                                <label>产品数量：</label>
                                <input type="text" name="productNumber"/>
                            </li>
                            <li>
                                <label>变动原因：</label>
                                <input type="text" name="changeReason"/>
                            </li>
                            <li>
                                <label>变动标志：</label>
                                <input type="text" name="changeFlag"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="IntegralRecord:record:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="IntegralRecord:record:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="IntegralRecord:record:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="IntegralRecord:record:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('IntegralRecord:record:edit')}]];
        var removeFlag = [[${@permission.hasPermi('IntegralRecord:record:remove')}]];
        var prefix = ctx + "Integral/record";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "IntegralRecord",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'phone',
                    title: '手机号码',
                    visible: false
                },
                {
                    field: 'changeNumber',
                    title: '积分变动数量'
                },
                {
                    field: 'curreryIntegral',
                    title: '当前积分'
                },
                {
                    field: 'productName',
                    title: '产品名称'
                },
                {
                    field: 'productCode',
                    title: '产品编码'
                },
                {
                    field: 'productNumber',
                    title: '产品数量'
                },
                {
                    field: 'changeReason',
                    title: '变动原因'
                },
                {
                    field: 'changeFlag',
                    title: '变动标志'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>