<!DOCTYPE html>
<html lang="zh">
<head>
        <link href="../static/css/fwQuery.css" th:href="@{/css/fwQueryScan.css}" rel="stylesheet"/>
    <th:block th:include="include :: header('防伪查询')" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0， maximum-scale=1.0,minimum-scale=1.0, user-scalable=no">
</head>
<body class="scan">
<div align="center">
    <img th:src="@{/img/logo04.png}" style="height: 175px;width: 300px;margin-top: 50px">
</div>
<input name="openId" th:value="*{openId}" type="hidden">
<input name="phone" th:value="*{phone}" type="hidden">
<input name="address" th:value="*{address}" type="hidden">
<div align="center" class="product center-block" style="width: 350px"  >
    <div class="scanBtn" align="center" style="margin-top: 50px;">
        <button class="btn btn-primary "  style="border-radius: 30px" type="button" onclick="scan()"><i class="fa fa-barcode"></i><span class="bold"> 点击扫描</span>
    </div>
    <h4 style="margin-top: 20px">请扫描包装防伪码</h4>
</div>
<th:block th:include="include :: footer" />
</body>

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">

    var prefix = ctx + "fwQueryH5";

    var qr=GetQueryString("qrresult");
    if(qr){
        var openId = $('input[name="openId"]').val();
        var phone = $('input[name="phone"]').val();
        var address = $('input[name="address"]').val();
        location.href=prefix+'/fwQuery?code='+qr+'&address='+address+'&phone='+phone+'&openId='+openId;
    }

    function scan(){
        location.href = "https://www.996315.com/api/scan/?redirect_uri=" + encodeURIComponent(location.href);
    }

    function GetQueryString(name){
        var reg = new RegExp("\\b"+ name +"=([^&]*)");
        var r = decodeURIComponent(location.href).match(reg);
        if (r!=null) return r[1];
    }

</script>
</html>