<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增【请填写功能名称】')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-prize-add">
        <input type="hidden" id="activityid" name="activityid" th:value="${activityid}">

        <div class="form-group">
            <!--                <label class="col-sm-3 control-label is-required">转盘角度：</label>-->
            <label class="col-sm-3 control-label is-required">[[#{activity.Configuration.Turntable.Angle}]]：</label>
            <div class="col-sm-8">
                <input name="angle" class="form-control" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <!--                <label class="col-sm-3 control-label is-required">奖项级别：</label>-->
            <label class="col-sm-3 control-label is-required">[[#{activity.Configuration.Award.Level}]]：</label>
            <div class="col-sm-8">
                <input name="level" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <!--                <label class="col-sm-3 control-label is-required">奖品名称：</label>-->
            <label class="col-sm-3 control-label is-required">[[#{activity.Configuration.Prize.Name}]]：</label>
            <div class="col-sm-8">
                <input name="name" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <!--                <label class="col-sm-3 control-label is-required">奖品数量：</label>-->
            <label class="col-sm-3 control-label is-required">[[#{activity.Configuration.Number.Of.Prizes}]]：</label>
            <div class="col-sm-8">
                <input name="num" class="form-control" type="number" required>
            </div>
        </div>

        <div class="form-group">
            <!--                <label class="col-sm-3 control-label is-required">中奖权重值：</label>-->
            <label class="col-sm-3 control-label is-required">[[#{activity.Configuration.The.Weight.Value.Of.Winning.The.Prize}]]：</label>
            <div class="col-sm-8">
                <input name="ratenum" class="form-control" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <!--                <label class="col-sm-3 control-label is-required">剩余奖品数量：</label>-->
            <label class="col-sm-3 control-label is-required">[[#{activity.Configuration.Remaining.Prize.Data}]]：</label>
            <div class="col-sm-8">
                <input name="remainnum" class="form-control" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <!--                <label class="col-sm-3 control-label is-required">有无实物：</label>-->
            <label class="col-sm-3 control-label is-required">[[#{activity.Configuration.Whether.There.Is.A.Physical.Prize}]]：</label>
            <div class="col-sm-8">
                <select name="isMaterial" class="form-control m-b"
                        th:with="type=${@dict.getType('activity_config_material',#locale.language+'_'+#locale.country)}"
                        required>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var prefix = ctx + "activity/activityConfigPrize";
    // $("#form-prize-add").validate({
    //     focusCleanup: true
    // });
    $("#form-prize-add").validate({
        rules: {
            angle: {
                required: true,
                maxlength: 3
            },
            level: {
                required: true,
                maxlength: 3
            },
            name: {
                required: true,
                maxlength: 10
            },
            num: {
                required: true,
                maxlength: 10
            },
            ratenum: {
                required: true,
                maxlength: 3
            },
            remainnum: {
                required: true,
                maxlength: 10
            },
        },
        messages: {
            angle: {
                required: [[#{required}]],
                maxlength: [[#{prize.max_wheel_rotation_angle}]]
            },


            level: {
                required: [[#{required}]],
                maxlength: [[#{prize.max_prize_level_characters}]]
            },
            name: {
                required: [[#{required}]],
                maxlength: [[#{prize.max_prize_name_characters}]]
            },
            num: {
                required: [[#{required}]],
                maxlength: [[#{prize.max_prize_quantity_characters}]]
            },
            ratenum: {
                required: [[#{required}]],
                maxlength: [[#{prize.max_winning_weight}]]
            },
            remainnum: {
                required: [[#{required}]],
                maxlength: [[#{prize.max_remaining_prize_quantity_characters}]]
            },
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-prize-add').serialize());
        }
    }
</script>
</body>
</html>